<div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" class="active"><a href="/index">Home</a></li>
        
        <li role="presentation"><a href="#">Saved</a></li>
      </ul>
    </nav>
    <h3 class="text-muted"> <img src="../../../images/congressSeal.png"> Congress Stalker</h3>
</div>